{% extends "base.html" %}
{% block title %} Edit Post {% endblock %}
{% block content %}

<div class="shadow p-3 mt-5 bg-body text-center rounded w-50 align-items-center offset-3">
    <form action="edit" method="post" style="text-align:center" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="form-outline form-white mt-3">
            {{form.title(class="form-control", value=post.title)}}
        </div>
        <div class="form-outline form-white mt-3">
            {{form.content(class="form-control", value=post.title, rows=7)}}
        </div>

        <div class="form-outline form-white mt-3">
            {{form.image(class="form-control", value=post.image)}}
        </div>

        <div class="form-outline form-white mt-3">
            {{ form.submit(class="btn btn-primary mt-3 btn-block") }}
        </div>
    </form>
</div>

{% endblock %}