    {% extends "base.html" %}
    {% block title %} Profile {% endblock %}
    {% block content %}
    <div class="container w-50">
        <div class="card">
            <div class="row">
                <div class="card-body row">
                    <div class="col-2 text-center">
                        <img class="card-title rounded-circle"
                            src="{{url_for('static', filename='images/profile_pictures/' + current_user.profile_pic)}}"
                            alt='profile picture' width='100' height='100'>
                                <h6 class=" card-subtitle mb-2 text-muted">{{user.username}}</h6>
                    </div>
                    <div class="col-2 text-center card-text" style="color: black;">
                        <p>Posts</p>
                        <hr>
                        <p>{{posts|length}}</p>
                    </div>
                    <div class="col-2 text-center card-text">
                        <a href="{{url_for('followers', username=user.username)}}" style="text-decoration: none; color: black;"><p>Followers</p>
                        <hr>
                        <p>{{no_followers}}</p>
                        </a>
                    </div>
                    <div class="col-2 text-center card-text">
                        <a href="{{url_for('following', username=user.username)}}" style="text-decoration: none; color: black;">
                        <p>Following</p>
                        <hr>
                        <p>{{no_following}}</p>
                        </a>
                    </div>

                    <div class="col text-center card-text ms-auto">
                    {% if current_user.username == user.username %}
                        <a href="{{url_for('edit_profile')}}"
                            <button href="{{url_for('edit_profile')}}" class="btn btn-light btn-outline-dark">Edit Profile</button>
                        </a>
                        {% else %}
                            {% if followed %}
                                <a href="{{url_for('unfollow', username=user.username)}}"
                                    <button class="btn btn-light btn-outline-dark">Unfollow</button>
                                </a>
                            {% else %}
                            <a href="{{url_for('follow', username=user.username)}}"
                                <button class="btn btn-light btn-outline-dark" role="button">Follow</button>
                            </a>
                            {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}