{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="shadow p-3 mt-5 bg-body text-center rounded w-25 offset-4">
    <form action="register" method="post" style="text-align:center">
        {{form.hidden_tag()}}
        <div class="form-outline form-white mt-3">
        {{form.username(class="form-control", placeholder='username')}}
        </div>
        
        <div class="form-outline form-white mt-3">
        {{form.email(class="form-control", placeholder='email')}}
        </div>

        <div class="form-outline form-white mt-3">
        {{form.password(class="form-control", placeholder='password')}}
        </div>

        <div class="form-outline form-white mt-3">
        {{form.confirm_password(class="form-control", placeholder='confirm password')}}
        </div>

        <div class="form-outline form-white mt-3">
        {{ form.submit(class="btn btn-primary mt-3 btn-block") }}
        </div>
    </form>
</div>
{% endblock %}